<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-succes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mi-succes`
     * texto
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiSucces extends Polymer.Element {
      static get is() { return 'mi-succes'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-succes'
          }
        };
      }
    }

    window.customElements.define(MiSucces.is, MiSucces);
  </script>
</dom-module>
