<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-succes">
  <template>
    <style>
      :host {
        display: block;
      }
      input, label{
        width: 50%;
        display: block;
        margin: 0 auto; 
        border-radius: 10px;
      }
      button{
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 30px;;
      }
      h1{
        text-align: center;
      }
    </style>
   
    <h1>Succes</h1>
    <label>Nombre</label>
    <input type="text"><br><br>
    <label>Direccion</label>
    <input type="text"><br><br>
    <label>Telefon</label>
    <input type="text"><br><br>

   <button>Enviar</button>

  </template>

  <script>
    /**
     * `mi-succes`
     * texto
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiSucces extends Polymer.Element {
      static get is() { return 'mi-succes'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-succes'
          }
        };
      }
    }

    window.customElements.define(MiSucces.is, MiSucces);
  </script>
</dom-module>
